.game-screen {
    height: 100vh;
    background: #a7cfdf;
    background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
    background: -webkit-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
    background: linear-gradient(to bottom, #a7cfdf 0%, #23538a 100%);
}