.board-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .board {
    width: 900px;
    border-radius: 30px;
    height: 450px;
    box-sizing: border-box;
    background: linear-gradient(
      to bottom,
      #7db9e8 0%,
      #207cca 49%,
      #2989d8 50%,
      #1e5799 100%
    );
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/40041/bgFF.svg")
      #0c4779;
    box-shadow: 0 0 0 10px hsl(190, 100%, 55%), 0 0 0 15px hsl(237, 85%, 50%);
    //box-shadow: 0 0 0 10px hsl(0, 0%, 100%);
    //box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    // box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    //   rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    //   rgba(0, 0, 0, 0.09) 0px 32px 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
  }
}
