.board {
  position: relative;
  font-family: helvetica, sans-serif;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
  border: 5px solid #003c7b;
  text-align: center;
  padding: 150px;
  border-radius: 50%;
  max-width: 1000px;
  max-height: 800px;
  min-width: 305px;
  margin: auto;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/40041/bgFF.svg")
    #0c4779;
  /*background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/40041/bgFF.svg') #3a84c3;*/
  background-repeat: repeat;
  background-position: center center;
  -webkit-box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
  box-shadow: 0 1px 24px 1px rgba(0, 0, 0, 0.48);
}
