.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 300px;
  height: 100px;
  background: linear-gradient(
    to bottom,
    #7db9e8 0%,
    #207cca 49%,
    #2989d8 50%,
    #1e5799 100%
  );
  border-top: none;

  box-shadow: 0 0 0 10px hsl(0, 0%, 100%), 0 0 0 20px hsl(237, 85%, 50%);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  cursor: pointer;
  .team-name {
    font-size: 32px;
    color: white;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .team-points {
    margin-top: -20px;
    color: rgb(255, 218, 83);
    // text-shadow: 3px 5px rgb(80, 60, 10);
    text-shadow: 0 2px 0 #533803, 0 2px 0 #935e10, 0 3px 0 #533803,
      0 4px 0 rgb(80, 60, 10), 0 5px 0 rgb(80, 60, 10),
      0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
      0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
      0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
      0 20px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    font-family: Arial Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 60px;
  }

  &:hover {
    background: linear-gradient(
      to bottom,
      #56a2dc 0%,
      #4d85b6 49%,
      #2b71aa 50%,
      #3974b8 100%
    );
    box-shadow: 0 0 0 10px hsl(0, 0%, 100%), 0 0 0 20px rgb(234, 164, 13);
  }
}
